[2015-03-23 17:56] JJ opened #1 "Revisar bibliografía y poner la bibliografía en un fichero .bib"
Seguramente lo tendrás originalmente en un bib. Si no, busca las referencias de nuevo e inclúyelas.

[2015-03-23 18:13] JJ opened #2 "Leer surveys"
Mirar la parte de seguridad corporativa de este survey

http://ieeexplore.ieee.org/xpl/login.jsp?tp=&arnumber=6779901&url=http%3A%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D6779901

Ya está añadido a la bibliografía.

[2015-03-23 18:18] JJ opened #3 "Enfocar de otra forma el producto de IBM"
Un revisor dice que parece un panfleto de producto. Para empezar, usar un trabajo publicado tal como este:
http://www-935.ibm.com/services/uk/en/attachments/pdf/Securing_mobile_devices_in_the_business_environment.pdf

También añadido al .bib

[2015-03-23 18:29] JJ opened #4 "Reestructurar sección 3"
Ahora parece un catálogo del Ikea.
Primero, hay que comentar qué es lo importante en una herramienta de seguridad corporativa a partir de los objetivos que debe cumplir Muses.
El resto de los productos debería cumplir lo mismo, y debería complementarse con algún artículo de investigación sobre el tema.
Cosas como que la compañía Good fue fundada en California son absurdas en un paper y nunca debie

[2015-03-23 18:41] JJ opened #5 "Enganchar bien las secciones"
La sección 2 hace énfasis en la importancia de una ISP. La 3º no la menciona. ¿Hablamos de herramientas que sirven para crear/elaborar/refinar ISPs?

[2015-03-23 18:43] JJ opened #6 "Considerar claramente los objetivos del trabajo"
Ahora mismo parecen ser
1. Contar lo importante que es una IPS.
2. Contar qué herramientas BYOD hay en el mercado
3. Contar qué es Muses.

¿Cuáles son los objetivos? ¿Cuál es el selling point? ¿Vamos a aumentarlo con resultados ya obtenidos o lo vamos a dejar en exposición de intenciones?
Esto para los dos @amorag @unintendedbear (y quien quiera apuntarse)

[2015-03-24 06:46] JJ opened #7 "Revisar el inglés"
Revisar la gramática y por supuesto el spelling. Primera candidata a revisar: @aesparcia o @fergunet

[2015-03-24 09:59] unintendedbear commented on #6
Estoy de acuerdo en aumentarlo con los resultados ya obtenidos. La idea al principio era contar un poco el estado del arte en BYOD y luego incluir MUSES y el cómo MUSES era mejor que las otras.

[2015-03-24 10:00] JJ commented on #6
En ese caso, ¿cuál es el objetivos?

¿Qué mejora Muses? ¿La seguridad? ¿Cómo se mide eso?

[2015-03-24 10:46] unintendedbear opened #8 "Incluir Android Work"
Es nuestro principal competidor, hay que incluirlo y hacer un análisis de todas las cosas malas que tiene y ver si MUSES las mejora.

[2015-03-24 15:30] #1 closed, assigned to amorag

[2015-04-06 16:51] unintendedbear commented on #2
Estoy leyendo esto, a ver si lo puedo resumir para la noche.

[2015-04-06 18:14] unintendedbear commented on #2
Por lo que he leído, a lo mejor sería interesante describir cómo MUSES se encarga de los puntos que estos autores indican como recomendaciones para aumentar la seguridad. Incluso de cómo MUSES protegería al usuario frente a los ataques descritos en la parte de Network threats.

O eso o decir que nuestro survey completa al suyo porque ellos no tienen en cuenta el BYOD.

¿Cómo lo veis?

[2015-04-06 18:15] JJ commented on #2
Bien.

El 6 de abril de 2015, 20:14, Paloma de las Cuevas Delgado <
notifications@github.com> escribió:

##

JJ

[2015-04-13 11:09] JJ opened #9 "Buscar noticias de Samsung Knox"
E incluir por qué se ha cancelado.

[2015-04-13 22:38] unintendedbear commented on #3
Yo en serio es que me deprimo intentando defender lo nuestro cuando nos dan cien mil vueltas ya por favor :( http://www-935.ibm.com/services/us/en/it-services/security-services/vulnerability-management/index.html

[2015-04-13 22:59] #3 closed, assigned to unintendedbear

[2015-04-14 09:16] unintendedbear opened #10 "Ir revisando lo que voy re-escribiendo"
Como tengo poco o nada de tiempo, anoche estuve reescribiendo parte y esta noche haré lo mismo, hasta que reescriba todo lo que haga falta (que parece que es todo) entre esta noche y mañana. Tampoco es solo reescribir, sino que las características de cada herramienta las escribí el primer año de Muses y el proyecto está acabando, así que me tengo que meter en cada página y actualizar la informació

[2015-04-14 11:46] amorag commented on #10
Ok.
Aunque seguiré horarios similares para hacerlo. :(

[2015-04-14 11:48] amorag opened #11 "Escribir respuestas a los revisores"
Deberíamos ir completando las respuestas conforme se vayan haciendo cosas.

Se lo asigno a JJ como 'organizador del asunto, aunque yo iré poniendo cosas y los demás también deberíais.

[2015-04-15 09:43] unintendedbear commented on #5
¿Qué límite de páginas hay? Hay 24 ahora mismo :$

[2015-04-15 09:54] amorag commented on #5
El límite ‘teórico’ son 14 páginas, pero eso es en el formato final, que es diferente (va a doble columna y con un tamaño de letra menor).

Ahora mismo no te preocupes por eso.

Si lo aceptan ya lo reduciremos si es necesario.

De: Paloma de las Cuevas Delgado [mailto:notifications@github.com]
Enviado el: miércoles, 15 de abril de 2015 11:43
Para: geneura-papers/2014-2015-COMCOM-MUSES_vs_SotA_BYOD

[2015-04-15 10:02] unintendedbear commented on #5
Uhm, no lo veo bien, porque normalmente trabajamos directamente con el formato que se envía, o ¿es que para esta revista no es así? Además, si nos ajustamos al lo que piden, ya lo hemos hecho bien y no hay que re-revisar-re-escribir-re-resumir... vaya, el doble de trabajo.

[2015-04-15 10:47] amorag commented on #5
El formato de envío es distinto del formato final en muchas de revistas.

Sobre todo en las de Elsevier.

Además, los números especiales no suelen ser estrictos con el tamaño.

Ya en la primera versión nos pasamos del mismo porque no se tiene en cuenta hasta que haya que enviar la versión final.

Y no te puedes hacer una idea de lo que ocupará (en el formato final) hasta que esté terminado.

Pero

[2015-04-15 14:43] amorag opened #12 "Distanciar/Diferenciar el trabajo de los anteriores"
Indicar qué cosas difieren de los trabajos anteriores y hacer hincapié en la importancia de este y en sus contribuciones.

[2015-04-15 15:06] amorag opened #13 "Justificar que los métodos de data mining y de aprendizaje requieren una gran capacidad computacional"
Buscar un par de referencias de esto para justificar la necesidad de un servidor en MUSES.

[2015-04-15 15:11] amorag opened #14 "Aclarar lo de la encriptación en el sistema"
RESPONDER AL REVISOR:
Page 13, line 45 says all data in MUSES will be encrypted. It is not clear if the authors mean "the Decision Table and the even logger", or "all data in the devices, including personal data, contact list, emails..."

If it is the latter, authors should explain how MUSES enforces this policy. Does it control all applications
in the mobile phone? Does the mobile phone run only

[2015-04-15 15:14] amorag opened #15 "Describir la interacción del usuario con el sistema"
RESPONDER A ESTO

According to page 12, line 7 "the user interacts with the devices (...) through the MUSES graphical
interface inside his or her own context". This is surprising. I have pictured MUSES as a hyper-visor module but, according to this sentence, MUSES is a GUI that contains every application the user has access to. I think further clarification are needed about how the user interacts

[2015-04-15 15:15] amorag opened #16 "Poner ejemplos de sensores y monitorización de MUSES"
RESPONDER A:
Some specific examples about the kind of user activity MUSES monitors and the kind of actuators MUSES implements will be welcome. As is, sensors and actuators seem like a general idea and readers will understand the system better with specific examples.

[2015-04-15 15:17] amorag opened #17 "Referencia a donde se describa MusCRTEP"
Con un pequeño texto acerca de él.

Supongo que habrá un Deliverable que lo incluya, pero no lo recuerdo.

RESPONDER A:
Page 14, line 47 identifies the MusCRTEP as the core of the MUSES system and provides two references. Unfortunately, these references are not the implementation of MusCRTEP but a general definition of what a decision system does. These references are not really needed and a much

[2015-04-15 15:19] amorag opened #18 "Explicación de Anonimización y Privacidad en MUSES"
No sé si al final se anonimiza algo (datos personales y demás creo que sí o que simplemente no se usan) y privacidad se respeta con el hard limit.
Aunque también se implementará el soft limit.

Citar algún deliverable que pueda servir, si lo hay.

RESPONDER A ESTO:
Page 18, lines 20-37 hint about the importance of privacy enhancing technologies in a system that monitors the activity of the user an

[2015-04-15 15:33] deantares commented on #9
Por lo que he estado averiguando, Samsung se planteó cancelar el recién sacado Knox 2.0 debido a que los estudios revelaban que era bastante inseguro [1]. En acuerdo con GOOGLE, se pusieron a trabajar en portar varias de las funcionalidades de Knox al núcleo de Android 5.0 [2,3] dejando un poco de lado la versión nueva, sacando google android for work [4]

Se barajó entonces que Samsung abandonarí

[2015-04-15 15:57] unintendedbear commented on #9
Hala, ¡muchas gracias! Cierro el issue ahora cuando lo integre.

[2015-04-15 17:32] JJ commented on #18
¿hay un documento aparte para esto?

[2015-04-15 17:33] JJ commented on #13
¿Por? Los móviles tienen poca potencia...

[2015-04-15 17:36] JJ commented on #5
Estoy de acuerdo con Antonio. Es difícil predecir en cuantas páginas a
doble columna se va a quedar y es mejor no recortar hasta que no sea
estrictamente necesario.

[2015-04-15 18:02] unintendedbear commented on #5
Ya, por eso preguntaba al principio que si es que en las revistas es así, jeje. Pues nada, así se queda.

[2015-04-15 19:07] #4 closed, assigned to unintendedbear

[2015-04-15 19:07] #8 closed, assigned to nobody

[2015-04-15 19:07] #9 closed, assigned to deantares

[2015-04-15 19:32] fergunet commented on #13
Siento ponerlo aquí porque aún no me he bajado el paper y no sé donde va. Abajo está el bibtex.

Data Mining is not about analysing small datasets using traditional techniques \cite{Cios07DataMining}, but dealing with massively large amounts of data, so in the MUSES project, part of the high computational cost methods to apply must be derived to a high-performance server, as the mobile devices do

[2015-04-15 20:05] unintendedbear commented on #13
Gracias Fergu, y JJ, creo que esto es para justificar el  uso de arquitectura cliente-servidor (más bien el servidor).

[2015-04-15 22:31] fergunet commented on #7
Agh, no había puesto enlace al issue en este commit b216d703e72bb2b554268c2aed1867bbb6068c35

[2015-04-15 23:04] amorag commented on #13
Efectivamente.
Todos estos últimos Issues son para justificar las respuestas al revisor que debemos dar.
Vamos, para hacer lo que pide.

Los móviles tienen poca potencia, pero podría ser suficiente para hacer estas tareas de data mining/machine learning...

Hay un documento de texto en el mismo repo con las respuestas.
Lo pasaré a formato bonito antes de subirlo.

Un saludo.

[2015-04-15 23:21] amorag commented on #13
Lo he metido en el artículo, pero necesitamos una justificación con más peso.
@fergunet busca alguna referencia sobre el manejo de big data o data mining/machine learning aplicado sobre big data. ;)

Gracias.

[2015-04-15 23:38] amorag commented on #13
Bueno, teníamos una referencia ya de big data.
Si encuentras algo que indique lo exigentes (computacionalmente) que son estas técnicas lo ponemos, si no, así mismo está bien, creo yo. ;)

[2015-04-16 11:36] fergunet commented on #13
@amorag la frase que yo he puesto está tal cual (bueno, no es un copypaste) de la referencia que he puesto. El autor dice tal cual en ese capítulo que cito "DM no se puede usar en cosas chiquiticas, ya que requiere la leche de recursos computacionales". Si quieres mueve el cite al final:

_Data Mining is not about analysing small datasets using traditional techniques, but dealing with massively la

[2015-04-16 11:56] amorag commented on #13
Ahm, que era una frase literal de la cita.

Lo adapto entonces.

Lo que pasa es que porque lo diga el señor Cios no justifica el uso de un servidor aparte, es decir, que DM pueden hacerlo los móviles actuales. :D

Lo que has encontrado Big Data sí que mola más. ;)

¡Grachas!

De: Pablo García Sánchez [mailto:notifications@github.com]
Enviado el: jueves, 16 de abril de 2015 13:36
Para: geneura-pape

[2015-04-16 15:06] #17 closed, assigned to unintendedbear

[2015-04-16 15:07] unintendedbear commented on #10
Revisado todo por Fergu, lo doy por cerrado.

[2015-04-16 15:07] #10 closed, assigned to nobody

[2015-04-16 16:18] #18 closed, assigned to unintendedbear

[2015-04-16 16:56] fergunet opened #19 "Tratar el tema del futuro"
Veo que muchas partes del paper son "MUSES hará tal cosa", y puede ser un poco peliagudo hacer un paper de algo que no se ha hecho. Creo que ya no da tiempo a cambiar la orientación, pero otra opción sería vender MUSES como una arquitectura abstracta que sirve para tal y tal, y que debería usarse como base para desarrollar cosas concretas (que son las que están desarrollándose ahora).

Sé que ya e

[2015-04-16 17:03] unintendedbear commented on #19
Ya, también lo ha comentado @JJ en el commit. Esto es básicamente porque esto se escribí cuando no estaba ni terminada la arquitectura. Habría que haberlo cambiado antes de enviarlo la primera vez.

Ya como quieras. Me imaginaba que habría que hacer esto pero es que es modificarlo casi todo y yo sinceramente no he podido. Si ves que es mucho, nos repartimos mitad y mitad.

[2015-04-16 17:10] fergunet commented on #19
Otra opción es decir que está hecho y punto xD (vamos, quitar todos los will y would)

[2015-04-16 17:13] deantares commented on #19
Yo también lo he visto, y queda un poco raro, ya que pareciera que no "está" hecho. Si decís de cambiarlo, echo una mano.

[2015-04-16 17:13] unintendedbear commented on #19
Qué va :/ modificando las cosas que tenía asignadas he visto que está todo cogido con pinzas y sin explicar casi nada. Vaya, como estaba en el artículo que escribí hace dos años ya.

[2015-04-16 17:18] JJ commented on #19
Bueno, vamos a intentarlo. Lo que se haya hecho, se pone. Lo que no, se
queda en "will". Paloma, tú eres quien tienes mejor conocimiento del tema...

El 16 de abril de 2015, 19:13, Paloma de las Cuevas Delgado <
notifications@github.com> escribió:

##

JJ

[2015-04-16 17:20] deantares opened #20 "Tabla Comparativa final"
¿Sería muy complicado hacer una tabla de características de los sistemas comparados? Realmente, echo en falta algo así.

Tampoco es que sea para hacer algo muuuuy complejo, pero algo en plan:

| Característica | MUSES | IBM | Sophos | Samsung Knox |
| --- | --- | --- | --- | --- |
| **Licencia** | `Libre` | `Propietaria` | `Propietaria` | `Propietaria` |
| **Dispositivos** | `Smartphone, tables, p

[2015-04-16 17:27] unintendedbear commented on #19
Vale. Estoy recogiendo la factura del catering de la reunión de muses, en 20 minutos me pongo.

[2015-04-16 17:28] unintendedbear commented on #20
Me parece una buena idea :)

[2015-04-16 17:32] deantares opened #21 "Conclusiones"
Veo las conclusiones un poco "faltas" de conclusiones, pues sólo se enumera lo que se ha hecho en el trabajo sin arrojar ningún "resultado".

`This work introduces a self-adaptive user-centric end-to-end system, named MUSES, which is in development (it will be launched next year). The architecture and main features of the system are described, paying special attention to the application of Soft Co

[2015-04-16 17:38] unintendedbear commented on #20
Ehm, no me va a dar tiempo a hacer la tabla :/ pensaba que lo decías porque lo ibas a incluir. Si no quiere hacerlo nadie y no me da tiempo, se queda así como estaba ://

[2015-04-16 18:00] #12 closed, assigned to amorag

[2015-04-16 18:30] JJ commented on #20
Yo cierro por hoy. Queda responder a varias cuestiones de los revisores.

[2015-04-16 18:33] unintendedbear commented on #20
Vale, gracias por contribuir! Yo me ocupo del resto hasta dejarlo listo.

[2015-04-16 18:38] pacastillo commented on #20
Hola, Paloma,
si quieres añadir la tabla, te paso alguna información que te puede servir.

Para KNOX Premium:
     https://www.samsungknox.com/es/products/compare-features
precio = $1 al mes por dispositivo
dispositivos = Samsung, iOS, Android
Enfocado a Empresas, Pequeñas y medianas empresas (pymes), Organismos gubernamentales
Ventajas = Soporte técnico; Integración con Active Directory; Gestión

[2015-04-16 18:47] pacastillo commented on #20
Otra herramienta que podría añadirse en la sección "Tools for corporate mobile security" es "SonicWall Mobile Connect"
    http://alternativeto.net/software/sonicwall-mobile-connect/

SonicWALL® Mobile Connect™ provides users full network-level access to corporate and academic resources over encrypted SSL VPN connections. The client provides anytime, anywhere access to critical applications such a

[2015-04-16 18:48] deantares commented on #20
Esto yo, me lo autoasigno.

[2015-04-16 18:59] unintendedbear commented on #20
Gracias :_______________

[2015-04-16 19:10] deantares commented on #20
Os pongo la tabla tal y como la tengo (no la puedo añadir al paper porque no estoy en el PC adecuado). Quedan cosas por comentar, pero la verdad es que no tengo mucha más idea de que poner. Voy a hacer unas gestiones, ahora cuando vuelva aviso.

[code]

[2015-04-16 19:33] unintendedbear commented on #2
Al final lo he incluído como referencia pero no veo sitio para meterlo en el state of the art. Eso y que me voy a tirar por la ventana.

[2015-04-16 19:36] #2 closed, assigned to unintendedbear

[2015-04-16 19:37] unintendedbear commented on #13
¿Al final esto se ha incluído en el paper? ¿Lo incluyo? ¿Dónde?

[2015-04-16 20:35] #14 closed, assigned to amorag

[2015-04-16 21:34] #21 closed, assigned to nobody

[2015-04-16 22:43] amorag commented on #13
Hola, sí lo incluí y lo comenté en el commit.
Se me olvidó cerrar el Issue, eso sí.

[2015-04-16 22:43] #13 closed, assigned to fergunet

[2015-04-17 01:26] amorag commented on #20
Antares, llevo media hora con la tabla, primero corrigiendo errorcillos que no permitían compilarla y ahora intentando ubicarla porque es demasiado grande.

Además, hay varias columnas vacías que habría que rellenar para que fuera útil…

Yo podría rellenar las de MUSES, pero no las demás.

La dejamos para la versión definitiva. ;D

Gracias en todo caso.

De: Antonio Fernández Ares [mailto:notifica

[2015-04-17 02:20] #5 closed, assigned to amorag

[2015-04-17 02:24] amorag commented on #11
No se han cerrado con el commit...

He intentado cerrar varios de una vez, pero no furula. :_(

[2015-04-17 02:24] #11 closed, assigned to JJ

[2015-04-17 02:24] #16 closed, assigned to amorag

[2015-04-17 02:25] #15 closed, assigned to amorag

[2015-06-11 18:13] JJ commented on #6
EStos issues habría que irlos cerrando...

[2015-06-11 18:13] JJ commented on #7
No estaría mal revisarlo de nuevo de cabo a rabo.

[2015-06-11 18:14] JJ commented on #19
Lo conveniente sería resolverlo.

[2015-06-11 18:14] JJ commented on #20
¿Se mete la tabla en esta versión?

[2015-06-11 18:19] JJ opened #22 "Highlight new results in the paper"
References to previous published papers and what's the difference from them.

[2015-06-11 18:21] JJ opened #23 "Comment on a priori enforcement"
Explain that it's done using default security policies.

[2015-06-11 18:23] JJ opened #24 "Limitations on effective enforcements and experimental results"
Don't know if this will be possible with current lab tests, because they have not been published yet. Another alternative would be to really focus the article on the review part, not so much in a presentation of the tool.

[2015-06-11 18:24] JJ opened #25 "Discuss the possibility of compromised sensors"
is this possible? Can a rootkit do something with them? Maybe discuss in a telco?

[2015-06-11 18:25] JJ opened #26 "Revise paper structure"
Check it out and suggest how things could be improved.

[2015-06-11 18:26] JJ opened #27 "Improve the state of the art"
Check item number 5 for this reviewer, new papers suggested and incorporate them to the state of the art.

[2015-06-11 18:27] JJ opened #28 "Comments on possible experiments"
Is this the focus of the paper? Can we mention preliminary results?

[2015-06-11 18:28] JJ opened #29 "Improve abstract"
Check out suggestion

[2015-06-11 18:29] JJ opened #30 "Revise description of IBM products"
Section 3.1 should be probably rewritten and improved with coverage of other products.

[2015-06-11 18:30] JJ opened #31 "Improve, in general, section 3"
Several suggestions have been provided, they should be incorporated.

[2015-06-11 18:31] JJ opened #32 "Provide additional details on Muses platforms"
On p. 12.

[2015-06-11 18:31] JJ opened #33 "Provide details on integration options"
On p. 17

[2015-06-11 18:32] JJ opened #34 "Explain the refinement process clearly"
On two bullets p. 18

[2015-06-11 18:33] JJ opened #35 "How does Muses approaches newly discovered vulnerabilities or threats?"
Explain.

[2015-06-11 18:33] JJ opened #36 "Explain system security"
And how this is carried out.

[2015-06-11 18:34] JJ opened #37 "Include comparison table"
So that differences are clear.

[2015-06-11 18:35] JJ opened #38 "REview forward slashes"
The reviewer does not like them.

[2015-06-11 18:35] JJ opened #39 "Avoid parentheses"
They reduce readability.

[2015-06-11 18:36] JJ opened #40 "Prepare a response letter that includes changes in the text."
In the same structure as was done in version 1. No issue will be closed until the concerns raised by the reviewer is addressed in the letter.

[2015-06-16 10:55] unintendedbear commented on #22
In which section should this be included exactly? Conclusions or Introduction?

[2015-06-16 11:10] pacastillo commented on #22
introduction

[2015-06-16 11:16] unintendedbear commented on #23
Note-to-self -> Include this at the end of p.11:

"As a summary, this application includes two modules: a controller and an actuator. The first one  monitors the environment (context) and the users’ behaviour, translating their actions in a sequence of events. These events, along with the patterns defining the user’s conduct, are processed by the system in real-time by means of a Risk and Trust An

[2015-06-16 18:01] JJ commented on #20
Sería conveniente que contestárais a esto, reasignárais, o lo que fuera.

[2015-06-16 18:01] JJ commented on #25
Antonio, esto tiene cinco días. Por favor, revísalo.

[2015-06-16 18:11] unintendedbear commented on #20
Hola,

He leído en los comentarios de los revisores que sí, que estaría bien que la pusiéramos. Lo que ya no sé es si voy a cambiar la sección 3, porque otra de las sugerencias es poner las herramientas de otra manera:

"Considering variety of BYOD tools and their different features, authors might consider to introduce or reuse a taxonomy or classification of those approaches, and state the place

[2015-06-16 18:12] #38 closed, assigned to fergunet

[2015-06-16 18:19] fergunet commented on #20
Creo que sí, hay que poner una taxonomía (inventárnosla) para clasificar
las herramientas y poner varias columnas en esa tabla con el tipo de
solución que es. En principio se me ocurre como taxonomía:
- Relativo al aprendizaje para detectar amenazas: online/offline (por
  ejemplo, muses es online)
- Relativo a la base de datos de información: fija/variable o actualizable
  (muses es variable)
- Re

[2015-06-16 18:47] amorag commented on #25
No tengo ni idea de esto. Lo miraré.

Perdona, pero no ví los milestones, estoy corrigiendo prácticas y apagando fuegos a saco.

[2015-06-16 19:18] pacastillo commented on #25
¿un rootkit para qué cosa?

[2015-06-16 19:43] amorag commented on #20
A mí me gustó lo de la tabla en su momento, pero no la metí porque estaba un poco incompleta.
Y eso que me tiré 30 minutos ajustándola porque me fallaba al compilar. :_(

@deantares porfa, hazla de nuevo pero más completa, ahora que hay tiempo.

Yo sí voto por cambiar un poco la sección 3, siguiendo los comentarios de los revisores.

Lo de la taxonomía también estaría bien, pero hay que pensar una

[2015-06-16 19:50] amorag commented on #22
A este respecto yo diría que se incluyesen más detalles de lo que se ha implementado en los últimos meses desde que enviamos el artículo, quizá se puedan meter cosas del Deliverable 5.3, que ahondaba en la descripción del KRS, con los módulos que se planeaba que lo formasen.

O detalles más concretos (y más realistas) de cómo ha cambiado el sistema en estas últimos meses.

Si podemos meter nuevo c

[2015-06-17 05:37] JJ commented on #22
Pues que lo hagas.

[2015-06-17 07:17] unintendedbear commented on #25
Pues supongo que para evitar que los sensores manden medidas al servidor. O las envíen falseadas. Esto último no sé si es posible, supongo que sí. A ver que opinen los security boys xD @jlmacal @gstvrmrlpz

De todas maneras, si me confirmáis que los rootkit estos hagan eso, puedo encargarme yo de explicar esto cuando acabe con mis issues.

[2015-06-17 07:33] pacastillo commented on #25
Los sensores, en función de qué tipo de sistema operativo lleven, pueden ser comprometidos. Pero si se trata de "motas" sencillas (zigbee o un arduino), el problema de un ataque puede producirse más bien porque un atacante haga un "man in the middle" e intercepte las comunicaciones.

[2015-06-17 07:44] unintendedbear commented on #25
Vale, pues entonces al ser smartphones, tablets y portátiles (Android, iOS y Windows), solo nos tenemos que preocupar de ¿qué exactamente? Porque por ejemplo si el teléfono está rooteado se detecta. Si tiene un rootkit instalado y no se mandan estadísticas de los sensores también se detecta.

[2015-06-17 08:30] gstvrmrlpz commented on #25
teoricamente con un rootkit puedes modificar el binario para que haga lo que quieras...

[2015-06-17 08:57] unintendedbear commented on #33
Is this related to "the authors do not provide at least an indication of the data amount/complexity that is gathered and processed by the system, and at what rate it grows"? Is the only comment I see about p.17

[2015-06-17 10:01] jlmacal commented on #25
Y ya de paso probar si cuela alguna remote comman execution y
comprometer el servidor desde el cliente...

El 17/06/15 a las 10:30, gustavo escribió:

[2015-06-17 10:14] unintendedbear commented on #25
Jajajajaja, bien, pues eso no se contempla. Vivan las cosas bien desarrolladas. De modo que ¿hay alguna manera de ponerlo bonito con lo que dije que sí se detecta y evitar dejar al descubierto lo mal implementado que está? Y a lo mejor poner que el resto de cosas se implementarán en futuras versiones (?) O no, eso es tirarnos piedras también, me temo.

[2015-06-17 10:34] jlmacal commented on #25
Vale, forma elegante de esquivar situaciones como la que comentas.

1 Cualquier proceso es susceptible de verse afectado por lo que afecta
al cliente de muses, en el caso de los rootkits. (TODAS PU...)
2 Dado que el servidor y cliente no siguieron una metodología de
desarrollo seguro (y es algo sumamente normal, no es software militar :)
), la seguridad deriva del sistema que lo hospeda. (ECHAS EL

[2015-06-17 10:37] unintendedbear commented on #25
Jajajajaja, muchas gracias @jlmacal :bear:

[2015-06-17 12:16] amorag commented on #25
Paloma, si no te importa, haz tú esta descripción, ya que sabes mucho más que yo del tema.

Gracias.

[2015-06-17 14:07] deantares commented on #20
Estoy a ver como consigo meter la tabla tan grande en una página tan pequeña... Desde luego, es la historia de mi vida :sweat_smile:

[2015-06-17 14:11] unintendedbear commented on #20
Ea, pero ¿no es mejor que la rediseñemos? Me parece bien lo de clasificar las herramientas, quiero ver si rediseño la sección 3. Es que así lo mismo las dos cosas nos ocupan mucho menos ¿no?

[2015-06-17 15:07] pacastillo commented on #20
¿no se puede poner una tabla ocupando la página completa, en apaisado?

[2015-06-17 15:07] deantares commented on #20
Ahora os pongo lo que estoy haciendo, que le ha gustado a @fergunet y @amorag

[2015-06-17 15:14] deantares commented on #20
Una vista previa de como queda la tabla:

![seleccion_158](https://cloud.githubusercontent.com/assets/1782996/8210821/0fd588dc-1514-11e5-8379-8176103283bf.png)

Hemos pensado que en lugar de poner una tabla enorme, es mejor poner varias tablas pequeñitas: una con el precio-licencia, otra con las taxonomías, otras con las ventajas-desventajas,...

Pongo unos pequeños tex en el repositorio, con las

[2015-06-17 15:34] pacastillo commented on #20
¿qué columnas recogería cada una de ellas?

[2015-06-17 16:15] amorag commented on #22
Pero yo no sé lo que hay en el sistema actualmente, sólo lo que se planteó.

@unintendedbear, ¿meto en el artículo el esquema que describimos en el D5.3 completo?
¿Hasta qué punto de ese esquema incluyo?¿Data Miner?¿Algo del Knowlegde Compiler?

Gracias.

[2015-06-17 16:17] deantares commented on #20
Pues si se hace lo de la taxonomías de Pablo:
- Relativo al aprendizaje para detectar amenazas: online/offline (por
  ejemplo, muses es online)
- Relativo a la base de datos de información: fija/variable o actualizable
  (muses es variable)
- Relativo al control o acceso de los datos: invasivo/no invasivo (muses es
  no invasivo)
- Relativo al control del sistema: superusuario/no superusuario

[2015-06-17 16:29] unintendedbear commented on #22
Está la lista de tasks en la wiki, y los mails y las telcos. Pero vaya de todas maneras no pasa nada porque este issue lo tengo asignado yo, no te preocupes, gracias! El 5.3 además es de principios de año.

[2015-06-18 13:27] unintendedbear commented on #20
Me parece óptimo lo que dicen @deantares y @fergunet, aunque vamos a hacer brainstorming luego pero me parece una buena taxonomía. Lo que no sé es si veis bien reestructurar la sección en base a eso o dejarla así, con las herramientas una a una, y además agregar un par de párrafos con esto. Pero es que como sigamos así, nos vamos a las 35 páginas :\

[2015-06-18 16:20] fergunet commented on #20
Si no hay límite de espacio propongo lo de la taxonomía, que además les damos a los reviewers una razón justificando el paper. Debería ser antes de presentar las soluciones, y comentar en cada una en qué parte encaja (además de las tablas). Si queréis escribo yo la taxonomía en inglés (podéis asignarme un issue).

¿Cuando es el deadline, @unintendedbear @amorag?

[2015-06-18 23:14] amorag commented on #20
La fecha límite para la revisión es el 6 de julio.

En principio no hay límite de páginas.

De: Pablo García Sánchez [mailto:notifications@github.com]
Enviado el: jueves, 18 de junio de 2015 18:21
Para: geneura-papers/2014-2015-COMCOM-MUSES_vs_SotA_BYOD_Systems
CC: Antonio Mora
Asunto: Re: [2014-2015-COMCOM-MUSES_vs_SotA_BYOD_Systems] Tabla Comparativa final (#20)

Si no hay límite de espacio prop

[2015-06-19 06:47] unintendedbear opened #41 "Add paragraph(s) explaining the created taxonomy"
On section 3, then re-assign to me and I will complete every tool with the category it belongs to.

[2015-06-19 08:40] JJ opened #42 "Prepare response to reviewers"
Prepare letter with response to reviewers.

[2015-06-19 10:09] amorag commented on #42
Yo empezaré esto.
Luego lo reasigno. ;)

[2015-06-19 10:12] JJ commented on #42
Ya lo estoy haciendo yo, Antonio.

2015-06-19 12:09 GMT+02:00 Antonio Mora notifications@github.com:

##

JJ

[2015-06-19 10:56] #42 closed, assigned to amorag

[2015-06-19 11:00] JJ opened #43 "Address .bib errors"
[code]

Please check .bib file and fix these errors. Prefarably whoever included them, @unintendedbear or @amorag or @fergunet

[2015-06-19 11:38] JJ commented on #26
I don't see a major problem with the structure, other that it's not the "traditional" introduction, state of the art, results and conclusions. Maybe we should restructure along those lines, changing 1 and 2 into Intro, 3 would be state of the art, and the rest. What do you think?

[2015-06-19 17:57] fergunet commented on #26
It depends what we should sell.
- Is it a paper focused in Muses? Then, the classic paper approach
  (although without results section).
- Is it a survey plus Muses? Then the current structure (but with some
  changes, of course).

2015-06-19 13:38 GMT+02:00 Juan Julián Merelo Guervós <
notifications@github.com>:

##

Dr. Pablo García Sánchez
University of Granada
http://www.ugr.es/~pablogarcia

[2015-06-19 17:58] amorag commented on #42
Ok, hazlo tú entonces y yo luego voy aportando. ;)

Como no tenía nadie asignado…

De: Juan Julián Merelo Guervós [mailto:notifications@github.com]
Enviado el: viernes, 19 de junio de 2015 12:12
Para: geneura-papers/2014-2015-COMCOM-MUSES_vs_SotA_BYOD_Systems
CC: Antonio Mora
Asunto: Re: [2014-2015-COMCOM-MUSES_vs_SotA_BYOD_Systems] Prepare response to reviewers (#42)

Ya lo estoy haciendo yo, Ant

[2015-06-19 17:59] JJ commented on #26
2015-06-19 19:57 GMT+02:00 Pablo García Sánchez notifications@github.com:

This is it, I would say.

JJ

[2015-06-19 18:26] amorag commented on #26
It is (or should be) the second option.

There are some papers presenting MUSES already. ;)

PD
Ya me habéis liado con el inglés. :_( :D

[2015-06-23 06:27] JJ commented on #43
Antonio, ¿puedes mirar esto, por favor?

[2015-06-23 08:15] amorag commented on #43
Sí, hoy me pongo con los issues en el avión. ;)

De: Juan Julián Merelo Guervós [mailto:notifications@github.com]
Enviado el: martes, 23 de junio de 2015 8:28
Para: geneura-papers/2014-2015-COMCOM-MUSES_vs_SotA_BYOD_Systems
CC: Antonio Mora
Asunto: Re: [2014-2015-COMCOM-MUSES_vs_SotA_BYOD_Systems] Address .bib errors (#43)

Antonio, ¿puedes mirar esto, por favor?

—
Reply to this email directly or

[2015-06-24 00:10] #43 closed, assigned to amorag

[2015-06-26 10:40] #23 closed, assigned to unintendedbear

[2015-06-26 10:40] #25 closed, assigned to unintendedbear

[2015-06-26 11:10] unintendedbear commented on #33
I'll answer myself: is about necessary effort to make an app MUSES aware. Working on it, then!

[2015-06-27 11:25] unintendedbear opened #44 "Include to which class of the taxonomy every reviewed tool belongs to"
According to what's described.

[2015-06-28 01:53] amorag commented on #19
Cuidado que se habían quedado cosas como 'is be' en el cambio. ;)

[2015-06-28 02:35] amorag commented on #23
En mi opinión, lo que el revisor indica:

"The tools aims at enforcing security policies, however the security response occurs only AFTER a particular pattern is recognized to be potentially malicious. From my understandings, there is no a-priori enforcement except for the prediction based on event logs. This could mean that e security violation could in principle happen and only later recognized.

[2015-06-28 09:35] JJ commented on #27
Antonio, haz esto o reasigna.

[2015-06-28 09:36] JJ commented on #35
Por favor, haz o reasigna.

[2015-06-28 09:36] JJ commented on #36
haz o reasigna también.

[2015-06-28 10:38] JJ commented on #6
Lo cierro y ya.

[2015-06-28 10:38] #6 closed, assigned to nobody

[2015-06-28 10:39] JJ commented on #7
Pues eso...

[2015-06-28 10:40] JJ commented on #19
¿Se han resuelto esas cosas?

[2015-06-28 10:40] JJ commented on #20
Si se ha incorporado en otro issue, por favor, cerradlo.

[2015-06-28 11:07] unintendedbear commented on #7
Yo lo estoy revisando/corrigiendo conforme voy cerrando mis issues. Cuando acabe con ellos iré revisando el resto. Pedro también va revisando el inglés cuando se hace un cambio.

[2015-06-28 11:08] unintendedbear commented on #19
Que yo recuerde @fergunet estuvo cambiándolo todo. Yo en lo del refinement he estado poniendo cosas en presente también. Fergu, si quieres darle otro repaso...

[2015-06-28 11:31] amorag commented on #19
Hace falta otro vistazo en profundidad, porque la otra vez se hizo algo precipitado y quedaron errrores como los que he apuntado.

Ya no hay de esos, pero seguramente haya algún otro error o incoherencia.

@fergunet, échale un ojo porfa.

[2015-06-28 16:20] JJ commented on #26
Even if it's based on Muses, the structure should change as per the reviewers request. So what do you suggest?

[2015-06-28 16:41] #29 closed, assigned to JJ

[2015-06-28 16:56] JJ commented on #37
Anybody did this? Can somebody please close the issue if so? And change response to reviewers?

[2015-06-28 17:00] pacastillo commented on #23
Hay que aclararle al revisor que el sistema no es un antivirus ni un cortafuegos.
Con diversa información se pueden mejorar la reglas iniciales (las del CSO; quizás se pueda hacer ahí un símil a las reglas del iptables... no sé).
Además, esas reglas mejorarán la defensa en otros dispositivos de otras personas de forma automática.

[2015-06-28 17:13] fergunet commented on #41
Forgot to assign @unintendedbear after finish the taxonomy :P

[2015-06-29 05:32] JJ commented on #35
Lo siento, Paloma, te lo reasigno porque no creo que nadie más sepa de esto.

[2015-06-29 05:32] JJ commented on #36
Lo mismo que antes, perdona.

[2015-06-29 06:50] unintendedbear commented on #36
No pasa nada, yo me encargo.

[2015-06-29 06:54] unintendedbear commented on #23
Sí, lo de que no es un antivirus lo incluí porque no quedaba claro, además especifiqué que, por ejemplo, MUSES sí que mira si hay un antivirus instalado o no, y si es que no pues se queja.
El ejemplo de las iptables lo puso Fergu en la taxonomía, pero lo mismo conviene mencionarlo de nuevo en el párrafo del a priori, ¿cómo lo veis?

[2015-06-29 09:09] amorag commented on #23
En mi opinión, se puede poner una breve referencia a lo de iptables, pero insito en dejarle muy claro en el texto y, sobre todo, en la respuesta, lo que he comentado arriba, porque creo que aclararía al revisor algunas cosas sobre cómo funciona MUSES y por qué tiene la supuesta limitación que comenta.

[2015-06-29 14:51] amorag commented on #27
Gracias por encargarte Pablo.

Intentaré contribuir a la vuelta en todo lo que pueda.

[2015-06-29 14:56] amorag commented on #40
Una cosa respecto a esto, el revisor número 3 (el segundo que ha revisado) parece que es nuevo en el proceso.

Por lo que pienso que alguna de las cuestiones que plantea se pueden responder tomando como base parte de otras respuestas de la primera revisión.

Ayudaré a completar las respuestas a mi vuelta, si es necesario.

Un saludo.

[2015-06-29 15:34] amorag commented on #35
Gracias.

Intentaré contribuir en lo que pueda a mi vuelta.

[2015-06-30 18:49] fergunet commented on #27
No está terminado todavía, tengo que meter más papers: otro del revisor, más otros chulos que vaya yo encontrando por ahí, sólo llevo 4 leídos. También hay que justificar por qué MUSES es mejor que esos papers ( @unintendedbear quizás, termina la frasecilla que he dejado a medio escribir ). También confirmadme que donde lo he puesto es buen sitio, que no me sé la estructura del paper aún. Sobre to

[2015-06-30 22:45] deantares commented on #27
Muy fan de que @fergunet se mande tareas a si mismo. Mándame si quieres alguno de los que tengas sin leer por si mañana en el congreso me aburro.

[2015-07-01 09:11] fergunet commented on #27
Busca cualquier artículo de investigación en BYOD (algoritmos y movidas de esas) que veas interesante, los del revisor ya están casi revisados.

[2015-07-01 15:52] unintendedbear commented on #27
Lo he movido (estoy en ello, vaya) al final de la sección porque he visto mejor ponerlo después del background en enterprise security. También voy a completar eso que me ha dicho @fergunet.

Ahora bien, estoy pensando que en realidad esta sección 2 estaba porque no había un SotA propiamente dicho. Así que ahora que lo está haciendo Fergu... ¿quitamos lo otro y renombramos la sección a SotA?

Neces

[2015-07-01 16:29] fergunet commented on #27
A ver, lo que vendemos es lo siguiente (no están en orden de importancia):
1) Una taxonomía de clasificación de sistemas BYOD
2) Un estado del arte en investigación en BYOD: conceptos preliminares y artículos científicos
3) Un análisis de productos comerciales BYOD y su clasificación en nuestra taxonomía
4) Un nuevo sistema, MUSES, que tiene algunas cosas de la taxonomía que los anteriores no tien

[2015-07-06 13:30] unintendedbear commented on #28
Where do we include this?

I'm going to include statistics like "n. of events per day" to justify the use of big data techniques. But I guess this issue is more related to something like "the number of security violations significantly decreased  in verbose mode". But then we should explain what's silent mode and what's verbose mode.

And again, where in the paper is best to put this?

[2015-07-06 14:27] amorag commented on #28
En mi opinión:
- Si se van a incluir datos de las pruebas realizadas hasta el momento (lo de las Trials y demás) lo metería al final de la sección 4 (la de descripción de MUSES), en una nueva sección (4.4). Eso le daría más peso al trabajo y al sistema que se presenta.
- Si son posibles experimentos o pruebas a realizar, pero que no se incluirán en este trabajo (por falta de datos, de tiempo, de e

[2015-07-06 15:39] #32 closed, assigned to unintendedbear

[2015-07-06 16:13] #34 closed, assigned to unintendedbear

[2015-07-06 17:13] fergunet opened #45 "Reference Romer's paper when describing MUSES"
I've added a reference in the SOA (issue #27) that describes the best practices when using BYOD:
- centralize control and monitoring
- protect confidential devices
- increase trust with private clouds
- connect to important services (such as Dropbox)
- block risky services and choose proven solutions

It is a good way to justify MUSES, citing to this paper \cite{Romer14BestPractices}, several time

[2015-07-07 17:23] fergunet commented on #45
Besides my comment in previous commit, it would be cool to cite it several times when describing the system. For example, if you are describing the login system, you can add "This accomplishes with one of the best practices for BYOD that Romer proposes in \cite{Romer}".

[2015-07-07 23:59] amorag commented on #37
Antares porfa, completa la tabla con las demás herramientas analizadas si hay info sobre ellas. ;)

¿Había más tablas o sólo la de las licencias, dispositivos y precios?

¡Gracias!

[2015-07-08 16:21] JJ commented on #19
A ver, ¿qué pasa con este issue? ¿Lo resuelve alguien? ¿Nadie?

[2015-07-08 16:50] #19 closed, assigned to fergunet

[2015-07-08 17:03] #20 closed, assigned to deantares

[2015-07-08 17:09] fergunet commented on #37
@JJ the final table is not yet included. @deantares made some tables (they need to be added with \include), but the last one is still required. Reopening.

[2015-07-08 17:13] JJ commented on #37
OK, just do it! Deadline is tomorrow.

[2015-07-08 17:23] #30 closed, assigned to fergunet

[2015-07-08 18:50] #39 closed, assigned to JJ

[2015-07-08 19:18] deantares commented on #37
Done. Please add to the main TEX file the content of table*.tex files.

[2015-07-08 19:35] #31 closed, assigned to unintendedbear

[2015-07-08 19:35] #41 closed, assigned to unintendedbear

[2015-07-08 19:36] unintendedbear commented on #35
Plis alguien que me revise estos cambios y cierre?

[2015-07-08 19:36] unintendedbear commented on #33
Again, plis revisad y cerrad.

[2015-07-08 22:32] unintendedbear opened #46 "Avoid parentheses pt. II"
Reviewers have stated to avoid parantheses as much as possible.

I'm now reviewing the response we're writing for them and I've already found a lot of them.

Please, rewrite.
Thanks.

[2015-07-08 22:55] pacastillo commented on #46
I have made some changes to the response letter and I have removed some parentheses  ;)

[2015-07-09 00:38] amorag commented on #28
Lo he movido a una sección aparte (4.4) para que destaque más, ya que los revisores

He metido un poco más de texto para presentarlo y demás.

Echadle un ojo al commit 16bf3e758607481f07b570eef9f63208b78d7573

[2015-07-09 05:00] JJ commented on #46
Parentheses have to be suppressed in the text only.  Además, algunos paréntesis son citas del texto, así que...

[2015-07-09 05:01] #46 closed, assigned to amorag

[2015-07-09 05:10] unintendedbear commented on #46
No me refería a que fuera por obligación, ya sé que la obligación es corregirlo en el texto. Tampoco me refiero a citas, acrónimos, o cosas por el estilo. Me refiero a que en general se tiende a hacer esto y me encuentro un montón de frases como:

"However, MUSES presents a limitation regarding the enhancement of rules, since, in principle, it cannot predict (generate rules for dealing with) unexp

[2015-07-09 05:27] unintendedbear commented on #46
Es más, veo por tu commit y los de Pedro que sí que se entendía el propósito del issue...

[2015-07-09 05:31] #26 closed, assigned to JJ

[2015-07-09 05:34] JJ commented on #46
Sí, claro. Es más legible, tienes razón. El problema es que los que quedan ahora son o de los revisores o citas literales del texto. Por eso lo he cerrado.

[2015-07-09 05:35] unintendedbear commented on #46
Ok, perdona y gracias.

[2015-07-09 07:00] #24 closed, assigned to unintendedbear

[2015-07-09 07:00] #37 closed, assigned to deantares

[2015-07-09 09:36] amorag opened #47 "Incluir todas las herramientas comentadas en la comparativa"
Al menos un comentario breve sobre cada una, si no las metemos en la tabla.

Un revisor lo pedía explícitamente, respecto a las de IBM y a WSO2.

¡Gracias!

[2015-07-09 10:10] amorag commented on #47
Por ejemplo, puedes coger partes de texto de la sección 3 en la que comparas algunas herramientas de IBM con MUSES y trasladarlas (y enlazarlas) a la Sección 5. ;)

[2015-07-09 10:13] amorag commented on #47
En general, los párrafos finales de cada apartado de la sección 3 se podrían mover a la sección 5 y enlazarlos. Así la 3 sería sólo descripción de las herramientas y la 5 comparativa con MUSES.

¿Podéis mirarlo @unintendedbear?

[2015-07-09 10:26] amorag commented on #44
Por favor, incluye (o incluid, junto con @fergunet) un texto explícito sobre la categoría de cada herramienta en la taxonomía. Ahora mismo es difícil encontrarlo y habría que justificarlo bien ante los revisores.

Podéis ponerlo siempre al final de la sección de cada herramienta, si lo veis oportuno, o en medio de su descripción, pero haced referencia a algo como "this tool is enclosed in category

[2015-07-09 10:38] unintendedbear commented on #44
Ayer estuve incluyendo esas explicaciones precisamente, porque al ponerme a rellenarle la tabla a @deantares, alguna info la podía sacar del texto de descripción pero la que me faltaba y tuve que buscar, la añadí a las descripciones, con referencias a la documentación y todo. Incluso comenté que para el blackphone no se podían saber muchas cosas.

[2015-07-09 10:39] unintendedbear commented on #47
No :\ No puedo, no paro ni 5 minutos con el campus y tengo telco a las 15. Por favor, si alguien puede helpear con esto, que lo haga.

[2015-07-09 11:06] amorag commented on #47
Bueno, no tiene que ser ahora.

A ver si a lo largo de la tarde es posible.
O si Fergu puede echar una mano.

[2015-07-09 11:11] amorag commented on #44
La verdad es que es difícil encontrarlo al estar dentro del resto de la descripción, por eso decía que lo pusiéseis explícitamente. Si puedes poner la coletilla o el término 'taxonomy' en las frases correspondientes les será más fácil a los revisores.

O indica en las respuestas en qué páginas y párrafos están esas descripciones, como prefieras.

Gracias.

[2015-07-09 14:56] unintendedbear commented on #44
Moar opiniones needed, lo he releído y lo veo bien así :\

[2015-07-09 15:13] fergunet commented on #47
Pregunta: por qué esas herramientas no tienen su propia sección, como las de antes?

[2015-07-09 15:16] unintendedbear commented on #47
Sacto. Les hemos dado menos importancia poniéndolas ahí y ahora no podemos coger y extenderlas como las demás...
BTW ahora incluyo lo de por qué estas y no otras

[2015-07-09 15:28] #36 closed, assigned to unintendedbear

[2015-07-09 17:08] amorag commented on #44
Si lo ves bien, entonces simplemente señala las páginas y párrafos en los que se comenta eso para cada herramienta en la respuesta al  revisor #4:
- respuesta a los cambios de la sección 3, punto 2)

[2015-07-09 17:26] amorag commented on #47
Porque ha sido un error que hemos arrastrado.
En la primera versión teníamos mucho menos contenido de esas herramientas que de las demás, de modo que, para no poner secciones de un párrafo se agruparon todas.

Ahora que tenemos más contenido se podrían separar.

[2015-07-09 17:30] amorag commented on #47
En cualquier caso, por favor, lo que hagáis a este respecto o lo de la justificación de por qué se han elegido estas herramientas y no otras ponedlo también en las respuestas.

Gracias.

[2015-07-09 17:33] amorag commented on #47
¿Se podrían separar?¿Implicaría muchos cambios?

La verdad es que quedaría mejor, así nos pueden decir algo los revisores.
Pero si al hacerlo hay que añadir más contenido además, entonces no.

[2015-07-09 17:38] unintendedbear commented on #47
Yo añadí un poco al de WSo2 porque lo pedían, y al Worx. Pero de verdad que a estas horas, el día que se envía... ya no.

[2015-07-09 17:39] pacastillo commented on #47
Creo que mejor dejarlo así, no vayamos a cometer algún error al hacer alguna modificación más grande...

[2015-07-09 17:46] #47 closed, assigned to fergunet

[2015-07-09 17:52] fergunet commented on #27
Se me ha olvidado cerrar este issue cuando he añadido la taxonomia al abstract, introducción y conclusiones 9fd243bc5963ceb8abd949821900690aa13532ac

[2015-07-09 17:52] #27 closed, assigned to fergunet

[2015-07-09 17:54] #22 closed, assigned to unintendedbear

[2015-07-09 17:54] #28 closed, assigned to unintendedbear

[2015-07-09 17:55] #44 closed, assigned to unintendedbear

[2015-07-09 17:56] unintendedbear commented on #44
Sí, he cerrado 3 issues que estaban hechos y no cerrados. Pido perdón a @JJ de corazón, pero como abra el .tex otra vez me echo a llorar de cansancio.

[2015-07-09 18:05] JJ commented on #44
:-)

El 9 de julio de 2015, 19:56, Paloma de las Cuevas Delgado <
notifications@github.com> escribió:

##

JJ

[2018-02-10 11:22] #7 closed, assigned to nobody

[2018-02-10 11:22] #33 closed, assigned to JJ

[2018-02-10 11:22] #35 closed, assigned to JJ

[2018-02-10 11:22] #40 closed, assigned to amorag

[2018-02-10 11:22] #45 closed, assigned to nobody